# Copyright (c) 2015 Aaron Nash
# This file is licensed under the terms of the "GPL (v2)" license.
# Please see the file LICENSE.md included in this distribution for licensing
# terms.

current_image
